body {
  background: linear-gradient(217deg, rgba(126, 28, 220, 0.74), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(255, 0, 154, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(255, 249, 0, 0.8), rgba(0, 0, 255, 0) 70.71%);
  height: 100vw;
  margin: 0;
}

h1 {
  font-family: sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: turquoise;
  font-size: 5em;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: yellow;
  width: 100%;
  white-space: pre;
  text-shadow: 5px 5px #ff0000;
  animation: move 9s linear infinite;
  padding: .5em 1em .3em 1em;
  margin: 0;
}

svg {
  margin: 5em 1em;
}

header {
  background-color: mediumpurple;
  width: 100%;
  padding: 0;
  margin: 0;
}

.allLifts {
  stroke: #ffff00;
  stroke-width: 2px;
  fill: none;
}

.lift circle {
  stroke-width: 2px;
}

.allLifts line {
  stroke-dasharray: 5;
  fill: none;
}

.lift:hover {
  stroke: red;
  stroke-width: 4px;
  stroke-dasharray: 5;
  animation: dash 40s linear;
}

.allMountainlines {
  stroke: #ffffff;
  stroke-linecap: round;
  fill: none;
}

.mountainline {
  stroke: #ffffff;
  stroke-linecap: round;
  fill: none;
}

.mountainline:hover {
  stroke: aquamarine;
  stroke-width: 4px;
  /* stroke-dasharray: 100;
  stroke-dashoffset: 200;
  animation: run 10s linear forwards infinite; */
}

.forbiddenarea {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

.forbiddenarea path {
  stroke-width: 3px;
}

.mountainBack {
  fill: #ffffff;
  opacity: 0.39;
}

.mountainBackLine {
  stroke: #ffffff;
  fill: none;
  stroke-width: 3px;
}

@keyframes move {
  from {
    transform: translateX(-90%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes run {
  to {
    stroke-dashoffset: 0;
  }
}